@font-face {
    font-family: main;
    src: url(assets/fonts/dmwtv.ttf);
}

body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(255, 166, 0);
    margin: 0;
}

.container {
	width: 80%;
	margin: 0 auto;
}

.logo {
    position: absolute;
    z-index: 5;
    font-family: main;
    font-size: 60px;
    color:#ff0077;
    float: left;
    padding: 14px  0;
    padding-left: 5%;
  }

#navbar{
    height: 100px;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    opacity: 85%;
}

nav{
    float: right;
    padding-right: 8%;
}

nav ul {
    margin: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 5.5%;
    position: relative;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 30px;
    font-family: main;
    cursor: pointer;
    color: rgb(65, 65, 65)
  }


#homepage-img{
    max-width:100%;
    max-height:100%;
    height: auto;
    width: 100%;
    filter: brightness(70%);
}

#images{
    display: flex;
    justify-content: center;
    height: 750px;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    z-index: 1;
}

.title{
    color:#ff0077;
    font-family: main;
    
}

#title-back{
    text-align: center;
    position: absolute;
    left: 6%;
    top: 18%;
    height: 220px;
    width: 600px;
    z-index: 100;
    position: absolute;
}


#subtitle{
    position: absolute;
    font-size: 50px;
    font-family: main;
    color: #e26d00;
    text-shadow:  2px 3px 0px #fff3d8;
    left: 52%;
    top: 88%;
}

#corner-logo{
    font-size: 50px;
}

#main-logo{
    text-shadow:  4px 5px 0px #fff3d8, 10px 9px 0px #ffe600, 15px 14px 0px #ffa600, 21px 19px 0px #eb5e34;
    font-size: 200px;
    z-index: 5;
}

#about-title{
    display: flex;
    justify-content: center;
    padding-top: 2%;
    font-family: main;
    font-size: 70px;
    color: #ff0077;
}

.footer{
    height: 20px;
}

#text-section{
    text-align: center;
    padding-bottom: 2%;
}

.main-text{
    font-family: main;
    font-size: 2.5vw;
    color:#635338;
    padding-top: 1%;
    line-height: 1.5;
    margin-left: 5%;
    margin-right: 5%;
}

.backing{
    margin: 2% 2% 2% 2%;
    background-color: #fff3d8;
    z-index: 2;
}

#menu-back{
    height: 2700px;
}

.menu-grid{
    display: grid;
    justify-content: center;
    grid-auto-flow: column;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
}

#appetizer-grid{
    grid-template-rows: 600px;
}

.menu-grid-flex{
    height: 650px;
}

#mains-grid{
    grid-template-rows: 600px 600px;
    grid-auto-flow: row;
}

#menu-item{
    background-color: #e77a59;
    border-style: solid;
    border-color: #fff3d8;
    border-width: 15px;
    display: flex;
    justify-content: center;
}

.menu-title{
    font-family: main;
    font-size: 70px;
    color: #635338;
    padding-top: 1%;
}

.flex-center{
    display: flex;
    justify-content: center;
}

.img-flex{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 360px;
    width: 450px;
}

.item-img{
    height: 30%;
    width: 25%;
    padding-top: 1.3%;
    position:absolute;
    z-index: 1;
}

.item-title{
    font-family: main;
    font-size: 40px;
    color: black;
    position: relative;
    z-index: 2;
    top: 55%;
    white-space: pre-line;
}

.item-description{
    font-family: 'main';
    top: 60%;
    position: relative;
    font-size: 22px;
    font-style: italic;
}

.calories{
    position: relative;
    top: 65%;
    font-family: main;
    font-size: 25px;
}

.item-price{
    font-size: 25px;
    font-family: 'main';
    position: relative;
    top: 70%;
}

.text-flex{
    text-align: center;
}

#dessert-grid{
    grid-template-rows: 600px;
    grid-auto-flow: row;
}

#location-back{
    display: flex;
    align-items: center;
    height: 780px;
}

#map-image{
    float: left;
    width: 50%;
    height: auto;
    max-width: 600px;
    margin-left: 7%;
    margin-right: 2%;
}

#location-text{
    float: right;
    max-height: 400px;
    height: 100%;
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: 7%;
    text-align: center;
}

#location-title{
    font-family: 'main';
    font-size: 7rem;
    margin-top: auto;
}

.location-line{
    padding-top: 2%;
    font-family: main;   
    color: #ff0077;
}

#location-line-one{
    font-size: 4em;
}

#location-line-two{
    font-size: 3em;
}